* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    border-radius: 5px;

}

body {

    width: 100%;

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: linear-gradient(to right top,#ff0f7b,#f89b29);

}

.main {

    width: 50%;

    height: auto;

    padding: 25px 15px;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    box-shadow: 0 10px 25px -10px rgba(0,0,0,0.5);

    background-color: #fff;

}

label{

    font-size: 2rem;
    font-family: pacifico;

}

.main p{

    font-size: 3rem;

    font-family: pacifico;

    margin-bottom: 40px;


}

select{
    width: 50%;

    padding: 5px 10px;

    border: 2px solid #9e9e9e;

    outline: none;

    font-size: 1.2rem;

    font-family: Josefin Sans;

}

.main .input{

    width: 50%;

    padding: 5px 10px;

    border: 2px solid #9e9e9e;

    outline: none;

    font-size: 1.2rem;

    font-family: Josefin Sans;

}

.main .input:focus {

    border: 2px solid #f89b29;

}

.main .submit {

    width: 30%;

    padding: 10px 0;

    font-size: 1.2rem;

    font-family: Josefin Sans;

    border: none;

    outline: none;

    margin-bottom: 10px;

    background-color: #f89b29;

    color: #fff;

    transition: 0.3s;

}

.main .submit:hover {

    box-shadow: 0 15px 25px -10px #f89b29;

}

#barcode {

    width: 40%;
    height:150px;
    margin: 15px 0;
    border-width: 0px;

}

.textInput {
    display: flex;
    width: 70%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;    
}

.checkBoxInput {
    display: flex;
    width: 70%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;   
    font-size: 1rem;
}